<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subchair</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="top-title">
        |&nbsp;
        <a href="/">ICRTSE 2020</a>
        &nbsp;|&nbsp;
        <a href="https://nssce.ac.in">NSSCE</a>
        &nbsp;|
    </div>
    <div class="jumbotron">
        <% include partials/topbar.ejs %>
       
        <div class="content">
            <% if(query=="cs"){%>
                <%-include partials/cs.ejs %>
            <%}else%>
                <% if(query=="me"){%>
                    <%-include partials/me.ejs %>
                <%}else%>
                    <% if(query=="ec"){%>
                        <%-include partials/ec.ejs %>
                    <%}else%>
                        <% if(query=="ee"){%>
                            <%-include partials/ee.ejs %>
                        <%}else%>
                            <% if(query=="ce"){%>
                                <%-include partials/ce.ejs %>
                            <%}%>
        </div>
        <div class="right-content">
            <%-include partials/subchairs.ejs%>
        </div>
        
    </div>
    <%-include partials/footer.ejs %>
</body>
</html>